@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.card-grid .card {
  width: 480px;
  position: relative;
}
.card-grid .card p {
  width: 473px;
  position: absolute;
}
.card-grid .card img {
  width: 100%;
}
/* src/Card.css */

.card {
  position: relative;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: auto;
}

.card p {
  position: absolute;
  bottom: 50%;
  width: 100%;
  padding: 0 25px;
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: "", Times, serif;
}
/* src/Card.css */
.card {
  position: relative;
 margin: 0 auto;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  object-fit: cover;
  border-radius: 15px;
}

.card p {
  position: absolute;
}

@media screen and (max-width: 768px) {
  .card-grid .card {
    width: 173px;
    position: relative;
  }
  .card p {
    position: absolute;
    left: -10px;
    width: 100%;
    padding: 0 25px;
    color: white;
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    font-family: "", Times, serif;
  }
  .card p:nth-last-child(2) {
    position: absolute;
    bottom: 30px;
  }
  .card-grid .card p {
    width: 173px;
    position: absolute;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    margin: 0 auto;
  }
}


