@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.Catservheading {
  width: 100%;
  text-align: center;
  justify-content: center;
  position: relative;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: 5rem auto;
}
.Catservheading .catservcontainer h1 {
  font-size: 45px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.Catservheading .catservcontainer {
  position: relative;
}
.Catservheading .catservcontainer .circle1 {
  position: absolute;
  top: -50px;
  left: -25px;
}
.Catservheading .catservcontainer .circle2 {
  position: absolute;
  top: -30px;
  left: -12rem;
}
.Catservheading .catservcontainer .circle3 {
  position: absolute;
  bottom: -5rem;
  left: -4rem;
}

/*<------------------- headding end ---------------> */
@media screen and (max-width: 768px) {
  .Catservheading {
    position: relative;
    height: 20vh;
    display: flex;
    align-items: center;
    margin: 2rem auto;
  }
  .Catservheading .catservcontainer h1 {
    font-size: 14px;
    font-family: "Playfair Display", serif;
  }
  .Catservheading .catservcontainer .circle1 {
    position: absolute;
    width: 10px;
    top: -30px;
    left: 15px;
  }
  .Catservheading .catservcontainer .circle1 img {
    width: 100%;
  }
  .Catservheading .catservcontainer .circle2 {
    position: absolute;
    width: 34px;
    top: -46px;
    left: -1.8rem;
  }
  .Catservheading .catservcontainer .circle2 img {
    width: 100%;
  }
  .Catservheading .catservcontainer .circle3 {
    position: absolute;
    width: 12px;
    bottom: -1.5rem;
    left: -1.5rem;
  }
  .Catservheading .catservcontainer .circle3 img {
    width: 100%;
  }
}